################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SenappGameEngine/Extra/bmfont1.14a
/.vs/SenappGameEngine
